* {
    margin: 0;
    padding: 0;
    font-family: Assistant,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    box-sizing: border-box;
}
header {
    display: flex;
    background-color:beige;
    height: 120px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #b6b1b1;
}

.logo_container {
    
    margin-left: 4%;
    font-size: 50px;
    /* font-style: oblique; */
    color:goldenrod;
    
}

.nav_bar {
    display: flex;
    min-width: 500px;
    justify-content: space-evenly;
}
.nav_bar a {
    font-size: 14px;
    letter-spacing: .3px;
    color: rgb(212, 121, 29);
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    padding: 28px 0;
    /* border-bottom: 5px solid #ffffff; */
}
.nav_bar a:hover {
    border-bottom: 4px solid rgb(212, 121, 29);;
}

.nav_bar a sup {
    color: rgb(212, 121, 29);;
    font-size: 10px;
}

.one-rem-unit {
   
    border-radius: 10rem;
    border: 10px;
    background-color:rgb(212, 121, 29);
    /* border: 2px solid black; */
    color: beige;
    text-align: center;

}
.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top:4rem;
}
.container .hero-pic{
    width: 300px;
    height: 300px;
    /* border-radius: 50%; 
    overflow: hidden;
    border: 15px solid #444;*/
    box-shadow: 5px 7px 25px wheat;
}
 .hero-pic img{
    height:100%;
    width:100%;
    transition: 0.5s;
}
.hero-pic img:hover{
    transform: scale(1.2);
} 
.hero-text{
    max-width: 500px;
    display: flex;
    flex-direction: column;
}
.hero-text h5{
    color:black;
    font-size: 14px;
}
.hero-text h5 span{
    color:#007ced;
    font-size: 16px;
}
.hero-text h1{
    color: #007ced;
    font-size: 3rem;
}
.hero-text p{
    color:black;

}
.sty{
    height: 200px;

}
 .btn-group{
    margin:45px 0;
}
.btn-group .btn{
    border-color: #d5d5d5;
    color:#fff;
    background-color: #333;
    padding: 12px 25px;
    margin: 5px 0px;
    margin-right:7px;
    border-radius: 30px;
    border:2px solid #e5e5e5;
    box-shadow:  0 10px 10px -8px rgb(0 0 0 / 78%);
}
.btn.active{
    border-color: #007ced;
} 
.devInfo{
    margin:23px;
}
.para{
    padding-top: 8px;
}
.skill{
    padding-top: 8px;
}

.skillconatiner{
    padding-top: 8px;
}
.skill1{
    
    width:500px;
    height: 7px;
    background-color: red;
}
.skillItem{
    display: flex;
    
    align-items: center;
}
 
/* <!------contact------> */
.containerp {
    display: flex;
   
   
    padding-top:4rem;
}
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color:#040b12;
    margin-right: 15px;
    font-size: 20px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color:red;
    display: inline-block;
    transition: transform 0.5s;

}
.social-icons a:hover{
    color: blue;
    transform: translateY(-5px);
}
.contact-right form{
    width: 100%;

}
form input,form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background:#262626;
    padding: 15px;
    margin:15px 0;
    color:yellowgreen;
    font-size: 15px;
    border-radius: 6px;

}

.sub{
    background: red;
    border: 0;
    padding: 14px 14px;
    border-radius: 20px;
}